//
// Body
// --------------------------------------------------

.body-bg-top {
    padding-top: @navbar-height;
    @media (min-width: @screen-md) {
        padding-top: 0;
    }
	@media (max-width: @screen-sm) {
		padding-top: 0;
	}
}
.body-bg-bottom {
    padding-bottom: @navbar-height;
    @media (min-width: @screen-md) {
        padding-bottom: 0;
    }
}
