//
// Frame Container
//
.frame-container {
	position: relative;
	max-width: 100%;
	.container-fixed();
	padding-left: 0;
	padding-right: 0;
}


//
// Frame
//
.frame {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}
.section{
	.frame-inner {
		padding-top: 1em;
		padding-bottom: 1em;
		position: relative;
		@media (min-width: @screen-sm) {
			padding-top: 1.5em;
			padding-bottom: 1.5em;
		}
		@media (min-width: @screen-md) {
			padding-top: 2em;
			padding-bottom: 2em;
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
}

.frame-inner {
	> *:last-child {
		margin-bottom: 0;
	}
}

//
// Frame Styles
//
.frame-ruler-before {
	border-top: 1px solid @page-header-border-color;
	margin-top: 2em;
}
.frame-ruler-after {
	border-bottom: 1px solid @page-header-border-color;
	margin-bottom: 2em;
}
.frame-indent {
	@media (min-width: @screen-sm) {
		margin-left: 5%;
		margin-right: 5%;
	}
	@media (min-width: @screen-md) {
		margin-left: 10%;
		margin-right: 10%;
	}
	@media (min-width: @screen-lg) {
		margin-left: 15%;
		margin-right: 15%;
	}
}
.frame-indent-left {
	margin-left: 33%;
}
.frame-indent-right {
	margin-right: 33%;
}
.frame-well {
	&:extend(.well all);
	padding-left: 1em;
	padding-right: 1em;
	@media (min-width: @screen-sm) {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	@media (min-width: @screen-md) {
		padding-left: 2em;
		padding-right: 2em;
	}
}
.frame-jumbotron {
	&:extend(.jumbotron all);
	padding: 2em!important;
	@media (min-width: @screen-sm) {
		padding: 3em!important;
	}
	@media (min-width: @screen-md) {
		padding: 4em!important;
	}
}
.frame-small {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	@media (min-width: @screen-sm) {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}

//
// Space Before
// --------------------------------------------------
.frame-space-before-none {
	margin-top: 0;
}
.frame-space-before-extra-small {
	margin-top: 1em;
}
.frame-space-before-small {
	margin-top: 2em;
}
.frame-space-before-medium {
	margin-top: 3em;
}
.frame-space-before-large {
	margin-top: 4em;
}
.frame-space-before-extra-large {
	margin-top: 5em;
}

//
// Space After
// --------------------------------------------------
.frame-space-after-none {
	margin-bottom: 0;
}
.frame-space-after-extra-small {
	margin-bottom: 1em;
}
.frame-space-after-small {
	margin-bottom: 2em;
}
.frame-space-after-medium {
	margin-bottom: 3em;
}
.frame-space-after-large {
	margin-bottom: 4em;
}
.frame-space-after-extra-large {
	margin-bottom: 5em;
}

//
// Background
// --------------------------------------------------
.container {
	.frame-has-backgroundimage {
		padding-left: 0;
		padding-right: 0;

	}
}
//.frame-collapsible {
//	margin-top: -@frame-inner-spacing;
//	@media (min-width: @screen-sm) {
//		margin-top: -(@frame-inner-spacing * @frame-inner-spacing-scaling-sm);
//	}
//	@media (min-width: @screen-md) {
//		margin-top: -(@frame-inner-spacing * @frame-inner-spacing-scaling-md);
//	}
//	@media (min-width: @screen-lg) {
//		margin-top: -(@frame-inner-spacing * @frame-inner-spacing-scaling-lg);
//	}
//}
.make-frame-spacing(@name) {
	.@{name}.frame-space-after-none:not(.frame-ruler-after):not(.frame-has-backgroundimage)
	+ .@{name}.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage) {
		&:extend(.frame-collapsible);
	}
}
.make-frame-spacing(frame-background-none);
.make-frame-background(@name, @background, @color, @link-color, @link-color-hover) {
	.@{name} {
		&:extend(.frame-has-backgroundimage all);
		color: @color;
		background-color: @background;
		a:not(.btn) {
			color: @link-color;
			&:focus,
			&:hover {
				color: @link-color-hover;
			}
		}
	}
	.make-frame-spacing(@name);
}
.make-frame-background(frame-background-primary, @frame-primary-bg, @frame-primary-color, @frame-primary-link-color, @frame-primary-link-hover-color);
.make-frame-background(frame-background-secondary, @frame-secondary-bg, @frame-secondary-color, @frame-secondary-link-color, @frame-secondary-link-hover-color);
.make-frame-background(frame-background-light, @frame-light-bg, @frame-light-color, @frame-light-link-color, @frame-light-link-hover-color);
.make-frame-background(frame-background-dark, @frame-dark-bg, @frame-dark-color, @frame-dark-link-color, @frame-dark-link-hover-color);

//
// Background Image
// --------------------------------------------------
.frame-backgroundimage-container {
	overflow: hidden;
	width:100%;
	height:100%;
}
.frame-backgroundimage-container{
	position: absolute;

}
.frame-backgroundimage {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
}
.frame-backgroundimage  figure > img, .frame-backgroundimage  figure a > img{
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
}
.frame-backgroundimage-fade {
	opacity: 0.125;
}
.frame-backgroundimage-parallax {
	background-attachment: fixed;
	@media (hover: none) {
		background-attachment: initial;
	}
	background-repeat: no-repeat;
}
.frame-backgroundimage-blur {
	filter: blur(10px);
	width: calc(~'100% + 40px');
	height: calc(~'100% + 40px');
	top: -20px;
	left: -20px;
}
.frame-backgroundimage-grayscale {
	filter: grayscale(1);
}
.frame-backgroundimage-sepia {
	filter: sepia(1);
}

//
// Space Before
// --------------------------------------------------
.frame-space-before-none {
	margin-top: 0;
}
.frame-space-before-extra-small {
	margin-top: @frame-outer-spacing;
}
.frame-space-before-small {
	margin-top: (@frame-outer-spacing * @frame-outer-spacing-scaling-small);
}
.frame-space-before-medium {
	margin-top: (@frame-outer-spacing * @frame-outer-spacing-scaling-medium);
}
.frame-space-before-large {
	margin-top: (@frame-outer-spacing * @frame-outer-spacing-scaling-large);
}
.frame-space-before-extra-large {
	margin-top: (@frame-outer-spacing * @frame-outer-spacing-scaling-xlarge);
}

//
// Space After
// --------------------------------------------------
.frame-space-after-none {
	margin-bottom: 0;
}
.frame-space-after-extra-small {
	margin-bottom: @frame-outer-spacing;
}
.frame-space-after-small {
	margin-bottom: (@frame-outer-spacing * @frame-outer-spacing-scaling-small);
}
.frame-space-after-medium {
	margin-bottom: (@frame-outer-spacing * @frame-outer-spacing-scaling-medium);
}
.frame-space-after-large {
	margin-bottom: (@frame-outer-spacing * @frame-outer-spacing-scaling-large);
}
.frame-space-after-extra-large {
	margin-bottom: (@frame-outer-spacing * @frame-outer-spacing-scaling-xlarge);
}

//
// Frame Header
// --------------------------------------------------
.frame-header {
	*:last-child {
		margin-bottom: @font-size-base;
	}
}
.frame-type-header {
	.frame-header {
		*:last-child {
			margin-bottom: 0;
		}
	}
}
