<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<h1>Tp3 BusinessView Designer (Streetview)</h1>

<f:flashMessages />
<f:render partial="Tp3BusinessView/Finder" arguments="{tp3BusinessViews:tp3BusinessViews, panoramas:panorama}" />
    <br>
    <div class="recordlists">

    <f:if condition=" {panoramas -> f:count() > 0}">
        <f:then>
        <table class="panolist">
            <tr>
                <td><b>Pano ID</b></td>
                <td><b>POV Heading</b></td>
                <td><b>POV Pitch</b></td>
                <td><b>zoom</b></td>
                <td><b>Position</b></td>
            </tr>
            <f:for each="{panoramas}" as="panorama">
                <f:render partial="Tp3BusinessView/Panorama" arguments="{panorama:panorama}" />
            </f:for>
        </table><br>
        </f:then><f:else>
             <f:render partial="Tp3BusinessView/Intro" arguments="{panorama:panorama}" />

         </f:else></f:if>
        <table class="addresslist">
            <tr> <td><b>name</b></td>
                <td><b>google place_id</b></td>
                <td><b>geo</b></td></tr>
            <f:for each="{addresses}" as="address">
                <f:render partial="Tp3BusinessView/Address" arguments="{address:address}" />
            </f:for>
        </table>
    </div>
</f:section>
</html>