<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
	<f:variable name="injectionPoint" value="{data.tx_tp3businessview_injetionpoint}" />
	<f:variable name="baseUrl" value="{f:uri.page(pageUid: data.uid, absolute: 1)}" />
	<f:variable name="jsonUrl" value="{baseUrl}tp3Businessview/fejson?businessview={selectedBusinessView.uid}" />

	<div

	    id="tp3-businessview-app"
        data-api-key="{googleMapsJavaScriptApiKey}"
			data-injectionPoint="{settings.selector}"
	    data-json-url="{jsonUrl}"
	    data-pid="{data.uid}"
	    data-bv-uid="{selectedBusinessView.uid}"
    ></div>

    <div id="businessview-canvas" class="businessview">
        <div id="businessview-panorama-canvas"></div>
    </div>



    <f:if condition="{selectedBusinessView}">
        <f:asset.script identifier="tp3-businessview-fe-json">
            window.businessviewJson = {
                businessview: [{
								uid: <f:format.raw>{selectedBusinessView.uid}</f:format.raw>,
                    intro: <f:format.json value="{selectedBusinessView.intro}" />,
                    description: <f:format.json value="{selectedBusinessView.description}" />,
                    contact: {
                        name: <f:format.json value="{selectedBusinessView.contact.name}" />,
                        address: <f:format.json value="{selectedBusinessView.contact.address}" />,
                        zip: <f:format.json value="{selectedBusinessView.contact.zip}" />,
                        city: <f:format.json value="{selectedBusinessView.contact.city}" />,
                        phone: <f:format.json value="{selectedBusinessView.contact.phone}" />,
                        mobile: <f:format.json value="{selectedBusinessView.contact.mobile}" />,
                        email: <f:format.json value="{selectedBusinessView.contact.email}" />,
                        website: <f:format.json value="{selectedBusinessView.contact.www}" />
                    }
                }],
					settings: {
					panoRotationFactor: <f:format.json>{settings.panoRotationFactor}</f:format.json>,
					color: <f:format.json>{settings.color}</f:format.json>,
					backgroundColor: <f:format.json>{settings.backgroundColor}</f:format.json>,
					textColor: <f:format.json>{settings.textColor}</f:format.json>,
					align: <f:format.json>{settings.align}</f:format.json>,
					panoJumpTimer: <f:format.json>{settings.panoJumpTimer}</f:format.json>,
					panoJumpsRandom: <f:format.json>{settings.panoJumpsRandom}</f:format.json>,
					panoRotationTimer: <f:format.json>{settings.panoRotationTimer}</f:format.json>,
					panoRotationFactor: <f:format.json>{settings.panoRotationFactor}</f:format.json>,

					}
            };
        </f:asset.script>
    </f:if>
</f:section>
</html>
