Host gerit
  Hostname review.typo3.org
  Port 29418
  User thomasruta

Host github.com
    User git
    IdentityFile ~/.ssh/git_rsa

Host bitbucket.org
    User git
    HostName bitbucket.org
    IdentityFile ~/.ssh/id_rsa

Host srv400
    User root
    HostName 217.19.182.58
    IdentityFile ~/.ssh/srv400_rsa

Host test.lacuisine.de
    User lacuisine_composer
    HostName test.lacuisine.de.deployer.tp3.de

Host dev.thomasruta.de
    User thomasruta_tudy
    HostName dev.thomasruta.de.deployer.tp3.de


Host old.r-p-it.com
    User r_p_it_cdu
    HostName old.r-p-it.com.deployer.tp3.de

Host dev
    User dev
    HostName localdev.tp3.de

Host dev.tp3.de
    User r_p_it_tp3
    HostName dev.tp3.de.deployer.tp3.de

Host dev.r-p-it.com
    User r_p_it_rp
    HostName dev.r-p-it.com.deployer.tp3.de

Host srt-wiesbaden.de
    User srt_ssh
    HostName srt-wiesbaden.de.deployer.tp3.de


Host test.lacuisine.de.deployer.tp3.de
    User lacuisine_composer
    HostName test.lacuisine.de.deployer.tp3.de

Host dev.thomasruta.de.deployer.tp3.de
    User thomasruta_tudy
    HostName dev.thomasruta.de.deployer.tp3.de


Host old.r-p-it.com.deployer.tp3.de
    User r_p_it_cdu
    HostName old.r-p-it.com.deployer.tp3.de


Host dev.tp3.de.deployer.tp3.de
    User r_p_it_tp3
    HostName dev.tp3.de.deployer.tp3.de

Host dev.r-p-it.com.deployer.tp3.de
    User r_p_it_rp
    HostName dev.r-p-it.com.deployer.tp3.de

Host srt-wiesbaden.de.deployer.tp3.de
    User srt_ssh
    HostName srt-wiesbaden.de.deployer.tp3.de
