##################################################
################## LOCAL CONFIG ##################


##############################################################
### config for helhum's TYPO3 dotenv connector / config-loader
##
#

# host's title ... used in ./getenv.php to get info about environment via http
# Use 'Development' to avoid TYPO3 caching and add verbose error output
# Use 'Production' for maximum performance and no error output
TYPO3_CONTEXT='Development'
#TYPO3_PATH_ROOT='/var/www/connecta.localdev.tp3.de/private/build/vendor/typo3/cms/'

###########################################
#for Functional Testing with auto-install #
###########################################
# thx to  helhum/typo3-confi-handling -> no Localconfig
HOST_TITLE='CAG [XX] LocalDev'
typo3DatabaseName='typo3tester2018101710'
typo3DatabaseHost='192.168.178.250'
typo3DatabaseUsername='tester'
typo3DatabasePassword='XrILG1MwrFrCKa2dpWuE'
typo3DatabasePort='3306'
typo3DatabaseSocket='/run/mysqld/mysqld.sock'
typo3DatabaseDriver='mysqli'
typo3DatabaseCharset='utf-8'
#TYPO3_INSTALL_DB_USE_EXISTING=false type comnvert error -> edit in install.settings.yaml >> In CliMessageRenderer.php line 52:  [ErrorException]  Undefined index: title
typo3InstallAdminUser='tp3min'
typo3InstallAdminPass='Init1111'
TYPO3_INSTALL_SITE_SETUP_TYPE=false
TYPO3_INSTALL_DEFAULT_DOMAIN=localdev.tp3.de
TYPO3_INSTALL_ENGLISH_DOMAIN=localdev.tp3.de

#location to TYPO3-console install file # even without confi-handling see
#https://github.com/TYPO3-Console/TYPO3-Console/blob/master/Configuration/Install/InstallSteps.yaml
TYPO3_INSTALL_SETUP_STEPS='config/install.settings.yaml'

# needed for Testing
#TYPO3_PATH_ROOT='/var/www/connecta.localdev.tp3.de/private/web'

#form helhum for auto-install # add yours
#TYPO3_ACTIVE_FRAMEWORK_EXTENSIONS='backend, core, cshmanual, extbase, extensionmanager, filelist, filemetadata, fluid, frontend, impexp, install, lang, recordlist, reports, rte_ckeditor, saltedpasswords, scheduler, sv'


### The ** TYPO3 8 ** for dev or use config/local.settings.yaml or install.settings.yaml for autoinstall
# Set arbitrary TYPO3_CONF_VARS values
# ...following the convention: TYPO3__<section>[__<sub-section>]__property
#TYPO3__DB__Connections__Default__host='192.168.178.250'
#TYPO3__DB__Connections__Default__dbname='typo3tests'
#TYPO3__DB__Connections__Default__user='tester'
#TYPO3__DB__Connections__Default__port='3306'
#TYPO3__DB__Connections__Default__password='XrILG1MwrFrCKa2dpWuE'

##############################
#docker config / autoinstall #
##############################
#typo3DatabaseHost=192.168.178.250
#typo3DatabasePort=3306
#typo3InstallAdminUser=tp3min
#typo3InstallAdminPass=Init1111
#typo3DatabaseName=typo3tester2018101709
#typo3DatabaseUsername=tester
#typo3DatabasePassword=XrILG1MwrFrCKa2dpWuE
#typo3DatabaseSocket=/run/mysqld/mysqld.sock
#TYPO3_INSTALL_DB_USE_EXISTING=false


INSTALL_TOOL_PASSWORD=password

## DB credentials for TYPO3 <= 7 LTS
#TYPO3__DB__host='localhost'
#TYPO3__DB__port='3306'
#TYPO3__DB__database='t3_myproject'
#TYPO3__DB__username='t3_myproject'
#TYPO3__DB__password='someNicePass'


## Site name
#TYPO3__SYS__sitename='[add project name here]'

## Graphicsmagick path
TYPO3__GFX__im_path='/usr/bin/'
TYPO3__GFX__im_path_lzw='/usr/bin/'




##################################################
################## CONTENT SYNC ##################

# General Konfiguration
CONTENT_SYNC_HOST='myproject.connectaserver.de'
CONTENT_SYNC_SSH_USER='h.mustermann'
CONTENT_SYNC_SSH_KEY='/Users/hmustermann/.ssh/mustermann_key'

################## SYNC FILES ##################

# htdocs directory on remote host
CONTENT_SYNC_FILES_HOST_BASE_PATH='/web/myproject.connectaserver.de/current'

# if we have a difference between /web/myproject.connectaserver.de/current (webroot) and
# directory of Robo execution, we have to compensate it with the following path correction.
# The path must end with a /
CONTENT_SYNC_FILES_LOCAL_BASE_PATH_CORRECTION='web/'

# Folders to sync. The path must end with a /. Multiple paths must be seperated with a ,
CONTENT_SYNC_FOLDERS='fileadmin/'

################# SYNC DATABASE #################

CONTENT_SYNC_DATABASE_REMOTE_HOST='localhost'
CONTENT_SYNC_DATABASE_REMOTE_DB_USER='t3_myproject_remote'
CONTENT_SYNC_DATABASE_REMOTE_DB_NAME='t3_myproject_remote'
CONTENT_SYNC_DATABASE_REMOTE_DB_PASS='someNicePass'

################## CONTENT SYNC ##################
##################################################
