
    <f:form action="update" id="editform" controller="Panoramas"  name="update" object="{panorama}" arguments="{panorama: panorama}">
    <f:form.hidden   name="panoramas[uid]" value="{panorama.uid}"  class="formvalue"  />
    <f:form.hidden   name="panoramas[pid]" value="{panorama.pid}"  class="formvalue"  />
        # cat=plugin.tx_tp3businessview_tp3businessview//a; type=string; label=overlay color
        color=orange
        # cat=plugin.tx_tp3businessview_tp3businessview//a; type=string; label=overlay backgroundColor
        backgroundColor=#F0AD4E
        # cat=plugin.tx_tp3businessview_tp3businessview//a; type=string; label=overlay textColor
        textColor=#FFF
        # cat=plugin.tx_tp3businessview_tp3businessview//a; type=string; label=overlay align
        align=right
        # cat=plugin.tx_tp3businessview_tp3businessview//a; type=string; label=panoJumpTimer ms
        panoJumpTimer=5000
        # cat=plugin.tx_tp3businessview_tp3businessview//a; type=string; label=panoRotationTimer ms
        panoRotationTimer=30
        # cat=plugin.tx_tp3businessview_tp3businessview//a; type=string; label=panoRotationFactor in °
        panoRotationFactor=0.015
    <table class="pano-controls">
        <tr>
            <td><b>Titel</b></td>
            <td class="title">
               <f:form.textfield additionalAttributes="" required="true"  type="text" name="panoramas[title]"  value="{panorama.title}"  class="formvalue"  >
            </f:form.textfield>
            </td>
        </tr><tr>
            <td><b>Position</b></td><td ><f:form.textfield additionalAttributes="" name="panoramas[position]"  type="text" id="position-cell" value="{panorama.position-cell}"  class="formvalue"  >
        </f:form.textfield>
            </td>
        </tr>
        <tr>
            <td><b>POV Heading</b></td><td >
            <f:form.textfield additionalAttributes="" name="panoramas[heading]"  type="text" id="heading-cell" value="{panorama.heading-cell}"  class="formvalue"  >
        </f:form.textfield>
        </td>
        </tr>
        <tr>
            <td><b>POV Pitch</b></td><td >
            <f:form.textfield additionalAttributes="" name="panoramas[pitch]"  type="text" id="pitch-cell" value="{panorama.pitch-cell}"  class="formvalue"  >
        </f:form.textfield>
        </td>
        </tr>
        <tr>
            <td><b>Pano ID</b></td><td >
            <f:form.textfield additionalAttributes="" required="true" name="panoramas[panoId]"  type="text" id="pano-cell"  value="{panorama.panoId}"  class="formvalue"  >
        </f:form.textfield>
        </td>
        </tr>
        <tr>
            <td><b>Zoom</b></td><td >
            <f:form.textfield additionalAttributes="" name="panoramas[zoom]"  type="text" id="zoom-cell"  value="{panorama.zoom}"  class="formvalue"  >
            </f:form.textfield>
        </td>
        </tr>
    </table>


    </f:form>
</div>
<f:render partial="Tp3BusinessView/Controls" arguments="{businessview:businessview}" />
