<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<style>

</style>
<!-- https://developers.google.com/maps/documentation/javascript/streetview?hl=de
https://developers.google.com/maps/documentation/javascript/examples/streetview-custom-simple?hl=de -->
<input id="pac-input" class=tp3businessview-controls" type="text" placeholder="Enter a location">
<div id="infowindow-content">
    <span id="place-name"  class="title"></span><br>
    Place ID <span id="place-id"></span><br>
    <span id="place-address"></span>
</div>
<div id="map"></div>
<div id="tp3businessview-pano"></div>
<div id="tp3businessview-floating-panel">
   <!-- if you have a place ID
    <input id="place-id" type="text" value="">
    <input id="reversesubmit" type="button" value="Reverse Geocode by Place ID">-->
    <f:form action="update" id="editform" controller="Panoramas"  name="update" object="{panorama}" arguments="{panorama: panorama}">
    <f:form.hidden   name="panoramas[uid]" value="{panorama.uid}"  class="formvalue"  />
    <f:form.hidden   name="panoramas[pid]" value="{panorama.pid}"  class="formvalue"  />



    <table class="panoviewer">
        <tr>
            <td><b>Position</b></td><td ><f:form.textfield additionalAttributes="" name="panoramas[position]"  type="text" id="position-cell" value="{panorama.position-cell}"  class="formvalue"  >
        </f:form.textfield>
            </td>
        </tr>
        <tr>
            <td><b>POV Heading</b></td><td >
            <f:form.textfield additionalAttributes="" name="panoramas[heading]"  type="text" id="heading-cell" value="{panorama.heading-cell}"  class="formvalue"  >
        </f:form.textfield>
        </td>
        </tr>
        <tr>
            <td><b>POV Pitch</b></td><td >
            <f:form.textfield additionalAttributes="" name="panoramas[pitch]"  type="text" id="pitch-cell" value="{panorama.pitch-cell}"  class="formvalue"  >
        </f:form.textfield>
        </td>
        </tr>
        <tr>
            <td><b>Pano ID</b></td><td >
            <f:form.textfield additionalAttributes="" name="panoramas[panoId]"  type="text" id="pano-cell"  value="{panorama.pano-cell}"  class="formvalue"  >
        </f:form.textfield>
        </td>
        </tr>
        <table id="links_table"></table>
    </table>
        <f:form.submit name="submit" id="submitEditform" value="save" />
        <f:form.submit name="submit" id="submitNewform" value="new" />

    </f:form>
</div>
