<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<style>

</style>
<!-- https://developers.google.com/maps/documentation/javascript/streetview?hl=de
https://developers.google.com/maps/documentation/javascript/examples/streetview-custom-simple?hl=de -->
<input id="pac-input" class=tp3businessview-controls" type="text" placeholder="Enter a location" style="width: 275px">
<div class="reversesearch">if you have a place ID
<input id="placeid" type="text" value="">
    <input id="reversesubmit" type="button" value="Reverse Geocode by Place ID"><br>
or search for the place on the map</div>
<div id="infowindow-content">
    <span id="place-name"  class="title"></span><br>
    Place ID <span id="place-id"></span><br>
    <span id="place-address"></span>
</div>
<div id="map"></div>
<div id="businessview-canvas"> <div id="PanoPlayer" class="player-controls">
    <div class="fa fa-minus-square"></div>
    <div class="fa fa-plus-square"></div>
    <!-- <div class="fa fa-backward"></div> -->
    <div class="fa fa-play"></div>
    <div class="fa fa-pause"></div>
   <!-- <div class="fa fa-forward"></div> -->

</div><div id="businessview-panorama-canvas"></div></div>
<div id="tp3businessview-floating-panel">

    <f:form action="update" id="editform" controller="Panoramas"  name="update" object="{panorama}" arguments="{panorama: panorama}">
    <f:form.hidden   name="panoramas[uid]" value="{panorama.uid}"  class="formvalue"  />
    <f:form.hidden   name="panoramas[pid]" value="{panorama.pid}"  class="formvalue"  />
    <f:form.hidden   name="panoramas[tp3businessviews]" value="{panorama.tp3businessviews}"  class="formvalue"  />
    <table class="panoviewer">
        <tr>
            <td><b>Titel</b></td>
            <td class="title">
               <f:form.textfield additionalAttributes="" required="true"  type="text" name="panoramas[title]"  value="{panorama.title}"  class="formvalue"  >
            </f:form.textfield>
            </td>
        </tr><tr>
            <td><b>Position</b></td><td ><f:form.textfield additionalAttributes="" name="panoramas[position]"  type="text" id="position-cell" value="{panorama.position-cell}"  class="formvalue"  >
        </f:form.textfield>
            </td>
        </tr>
        <tr>
            <td><b>POV Heading</b></td><td >
            <f:form.textfield additionalAttributes="" name="panoramas[heading]"  type="text" id="heading-cell" value="{panorama.heading-cell}"  class="formvalue"  >
        </f:form.textfield>
        </td>
        </tr>
        <tr>
            <td><b>POV Pitch</b></td><td >
            <f:form.textfield additionalAttributes="" name="panoramas[pitch]"  type="text" id="pitch-cell" value="{panorama.pitch-cell}"  class="formvalue"  >
        </f:form.textfield>
        </td>
        </tr>
        <tr>
            <td><b>Pano ID</b></td><td >
            <f:form.textfield additionalAttributes="" required="true" name="panoramas[panoId]"  type="text" id="pano-cell"  value="{panorama.panoId}"  class="formvalue"  >
        </f:form.textfield>
        </td>
        </tr>
        <tr>
            <td><b>Zoom</b></td><td >
            <f:form.textfield additionalAttributes="" name="panoramas[zoom]"  type="text" id="zoom-cell"  value="{panorama.zoom}"  class="formvalue"  >
            </f:form.textfield>
        </td>
        </tr>
        <button type="button" data-toggle="button" class="btn btn-secondary" id="btn-links">open links</button>
        <table id="links_table"></table>
    </table>
        <f:form.submit name="submit" id="submitEditform" value="save" />
        <f:form.submit name="submit" id="submitNewform" value="new" />

    </f:form>

</div>
