<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<p>Nach der Installation sollte man API Keys bei google anlegen, diese werden für Places Suche im Backend benötigt.</p>

<p><a href="https://console.developers.google.com/apis/">https://console.developers.google.com/apis/</a></p>

<p>Folgende Apis werden empfohlen:</p>

<ul>
    <li><a href="https://console.developers.google.com/apis/api/maps-backend.googleapis.com/overview?project=tp3-app">Google Maps JavaScript API</a></li>
    <li><a href="https://console.developers.google.com/apis/api/geocoding-backend.googleapis.com/overview?project=tp3-app">Google Maps Geocoding API</a></li>
    <li><a href="https://console.developers.google.com/apis/api/street-view-image-backend.googleapis.com/overview?project=tp3-app">Google Street View Image API</a></li>
    <li><a href="https://console.developers.google.com/apis/api/streetviewpublish.googleapis.com/overview?project=tp3-app">Street View Publish API</a>&nbsp;(für kommende Features)</li>
</ul>

<p>Sollten Sie noch Fragen haben oder Hilfe benötigen einfach <a href="mailto:email@thomasruta.de">email@thomasruta.de</a></p>

<p>Zuvor haben Sie die Bilder von einem google zertifizierten <a href="http://www.pix123.de" target="_blank">Fotografen </a>erstellen lassen oder selbst per Smartphone oder ähnlich erstellt. Diese sollten dann auch bei google Maps verfügbar sein. Wie in meiner Demo.&nbsp;</p>
</html>