<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<tr id="pano_{panorama.uid}_{panorama.pid}">
    <td>
        <b>Pano ID</b></td><td class="pano_id">

    <f:if condition="{editmode}">
        <f:then>
            <f:form.textfield additionalAttributes=""  type="text" name="tx_tp3businessview_domain_model_panoramas[{panorama.uid}][pano_id]"  value="{panorama.pano_id}"  class="formvalue"  >
            </f:form.textfield>
        </f:then>
        <f:else >{panorama.pano_id}</f:else>
    </f:if>

</td>

    <td><b>POV Heading</b></td><td class="heading">
    <f:if condition="{editmode}">
        <f:then>
            <f:form.textfield additionalAttributes=""  type="text" name="tx_tp3businessview_domain_model_panoramas[{panorama.uid}][heading]" value="{panorama.heading}"  class="formvalue"  >
            </f:form.textfield>
        </f:then>
        <f:else >{panorama.heading}</f:else>
    </f:if>

</td>

    <td><b>POV Pitch</b></td><td class="pitch">
    <f:if condition="{editmode}">
        <f:then>
            <f:form.textfield additionalAttributes=""  type="text"  name="tx_tp3businessview_domain_model_panoramas[{panorama.uid}][pitch]" value="{panorama.pitch}"  class="formvalue"  >
            </f:form.textfield>
        </f:then>
        <f:else >{panorama.pitch}</f:else>
    </f:if>

</td>

    <td><b>zoom</b></td><td class="zoom">
    <f:if condition="{editmode}">
        <f:then>
            <f:form.textfield additionalAttributes=""  type="text"  name="tx_tp3businessview_domain_model_panoramas[{panorama.uid}][zoom]"  value="{panorama.zoom}"  class="formvalue"  >
            </f:form.textfield>
        </f:then>
        <f:else >{panorama.zoom}</f:else>
    </f:if>

</td>

    <td><b>Position</b></td><td class="position">
    <f:if condition="{editmode}">
        <f:then>
            <f:form.textfield additionalAttributes=""  type="text"  name="tx_tp3businessview_domain_model_panoramas[{panorama.uid}][position]" value="{panorama.position}"  class="formvalue"  >
            </f:form.textfield>
        </f:then>
        <f:else >{panorama.position}</f:else>
    </f:if>

</td>
</tr>
</html>