<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <h1>Tp3 BusinessView Designer (Streetview)</h1>

    <f:flashMessages />
    <f:render partial="Tp3BusinessView/Finder" arguments="{tp3BusinessViews:tp3BusinessViews, panoramas:panorama}" />
    <br>
    <f:render partial="Tp3BusinessView/Controls" arguments="{settings:settings}" />

    <div class="recordlists">
        <f:if condition="{businessviews->f:count()} < 1}">
            <f:then>
                <f:render partial="Tp3BusinessView/Intro" arguments="{conf:conf}" />

            </f:then><f:else>
            <div class="businessviewlist clearfix">

                <f:for each="{businessviews}" as="businessview">
                    <div class="head">
                        <f:render partial="Tp3BusinessView/Labels" arguments="{properties:businessview.propertiesArray}" />
                    </div>
                    <div id="bw_{businessview.uid}_{businessview.pid}" class="bwentry">


                        <img src="typo3conf/ext/tp3_businessview/Resources/Public/Icons/user_mod_tp3businessview.svg" class="icon" width="24" height="24"> <f:render partial="Tp3BusinessView/Properties" arguments="{properties:businessview.propertiesArray}" />

                    </div>
                    <table id="bw{businessview.uid}" class="panolist bwlist">
                        <tr>
                            <td><b>Titel</b></td>
                            <td><b>Pano ID</b></td>
                            <td><b>POV Heading</b>/<b>POV Pitch</b>/<b>zoom</b></td>
                            <td><b>Position</b></td>
                            <td><b>Sorting</b></td>
                        </tr>
                    <f:for each="{businessview.panoramas}" as="panorama">
                        <f:render partial="Tp3BusinessView/Panorama" arguments="{panorama:panorama}" />
                    </f:for>
                    </table>
                </f:for>
            </div>
            <table class="panolist">
                <tr>
                    <td><b>Titel</b></td>
                    <td><b>Pano ID</b></td>
                    <td><b>POV Heading</b>/<b>POV Pitch</b>/<b>zoom</b></td>
                    <td><b>Position</b></td>
                    <td><b>Sorting</b></td>
                </tr>
                <f:for each="{panoramas_all}" as="panorama">
                    <f:render partial="Tp3BusinessView/Panorama" arguments="{panorama:panorama}" />
                </f:for>
            </table><br>
            <table class="addresslist">
                <tr> <td><b>name</b></td>
                    <td><b>google place_id</b></td>
                    <td><b>geo</b></td></tr>
                <f:for each="{addresses}" as="address">
                    <f:render partial="Tp3BusinessView/Address" arguments="{address:address}" />
                </f:for>
            </table>

        </f:else></f:if>
        <script>
            window.businessviewJson =<f:format.raw>{businessViewJson}</f:format.raw>;
        </script>


    </div>
</f:section>
</html>