//
// Styles for the footer section and specific styles for its elements
//

/*
.footer {

  margin-top: $ce-margin;
  margin-bottom: $ce-margin;
  line-height: 1.4;

}

.footer__column {

  //margin-bottom: $ce-margin;

}
*/