//
// Styles for the general layout header section
//

/*

.header {

  position: fixed;
  z-index: $topbar-zindex;

  height: $pageheader-height--mobile;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $pageheader-padding;

}

.header__logo {
  .logo {
    width: 7.5rem;
    fill: $white;
  }
}

.header__menu {

}

.header__menu__button {

  margin-left: 1rem;
  padding: .25rem;

  color: $white;

  .icon {
    width: 1.75rem;
    height: 1.75rem;
  }

}

*/